.wpml-language-switcher .actived-language a {
	color: #FFF;
}

.wpml-language-switcher .actived-language a:hover {
	color: #3E91A3;
}

.wpml-language-switcher ul {
	background: #50535A;
}

.wpml-language-switcher ul li a {
	color: #FFF;
}

.wpml-language-switcher ul li a:hover {
	background: #3E91A3;
	color: #FFF;
}