.wpml-language-switcher .actived-language a {
	color: #CCC;
}

.wpml-language-switcher .actived-language a:hover {
	color: #B2C20A;
}

.wpml-language-switcher ul {
	background: #000;
}

.wpml-language-switcher ul li a {
	color: #CCC;
}

.wpml-language-switcher ul li a:hover {
	background: #B2C20A;
	color: #FFF;
}