.wpml-language-switcher .actived-language a {
	color: #CCC;
}

.wpml-language-switcher .actived-language a:hover {
	color: #306E36;
}

.wpml-language-switcher ul {
	background: #000;
}

.wpml-language-switcher ul li a {
	color: #CCC;
}

.wpml-language-switcher ul li a:hover {
	background: #306E36;
	color: #FFF;
}