.wpml-language-switcher .actived-language a {
	color: #CCC;
}

.wpml-language-switcher .actived-language a:hover {
	color: #784E3D;
}

.wpml-language-switcher ul {
	background: #000;
}

.wpml-language-switcher ul li a {
	color: #CCC;
}

.wpml-language-switcher ul li a:hover {
	background: #784E3D;
	color: #FFF;
}